.home{
    margin: 20px auto;
    h3{
        text-align: center;
        flex: 0 0 100%
    }
    .show-list{
        display: flex;
        justify-content: center;
        @media all and (max-width: 414px){
            flex-wrap: wrap;
        }
        a{
            color: inherit;
            text-decoration: none;
        }
        .show{
            padding: 10px 20px;
            flex:1;
            border: 1px solid #1BA1E2;
            border-radius: 5px;
            margin-right: 10px;
            margin-bottom: 10px;
            background-color: transparent;
            transition: all 0.4s ease;
            font-size: 18px;
            &:hover{
                background-color: #1BA1E2;
                color:#ffffff;
            }
        }
    }
}